<!DOCTYPE html>
<html>
  <head>
    <title>LLM Inference Application (I)</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/mountain.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', path='/mountain.png') }}" class="icon" />
    <h3>Get all Mountain in 100 km range of the mountain you request</h3>
    <form action="/" method="post">
      <input type="text" name="prompt" placeholder="Enter a prompt" autocomplete="off" required />
      <input type="submit" value="Lookup mountains" />
    </form>
    {% if result %}
    <div class="result">{{ result }}</div>
    {% endif %}
  </body>
</html>
