<!DOCTYPE html>
<html>
  <head>
    <title>LLM Inference Application (I)</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/mountain-icon.jpeg') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
  </head>
  <body>
    {% if "dev" in version %}
    <div class="dev-banner">LLM Inference Apps / env: {{ version }} </div>
    {% elif "release-v" in version%}
    <div class="dev-banner prod-banner">LLM Inference Apps / env: {{ version }} </div>
    {% else %}
    <div class="dev-banner unknown-banner">LLM Inference Apps / env: unknown </div>
    {% endif %}
    <img src="{{ url_for('static', path='/mountain-icon.jpeg') }}" class="icon" />
    <h3>Get 10 highest mountains in a 100 km radius of the mountain you ask for</h3>
    <form action="/" method="post">
      <input type="text" name="prompt" placeholder="Enter a prompt" autocomplete="on"  required />
      <input type="submit" value="Lookup mountains" />
    </form>
    {% if result %}
      <div class="result">{{ result }}</div>
    {% endif %}
    
  </body>
</html>
