
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Roboto", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-image: url(mountain-bgr.jpeg);
  background-color: transparent;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

}
.dev-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FDB813; /* "nice yellow" */
  color: white;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  z-index: 1;
}
.prod-banner {
  background-color: green;
}
.unknown-banner {
  background-color: gray;
}
.icon {
  margin-top: 50px;
  width: 208px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 20px 0;
}

h3:before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #333;
  margin: 10px 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("mountain.png") no-repeat right;
  background-size: cover;
  padding: 30px;
  box-shadow: inset 0 0 0 3px var(--tertiary-color);
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #0077c9;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #0077c9;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.result {
  font-weight: bold;
  margin-top: 40px;
  width: 320px;
  white-space: pre-line;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("mountain.png") no-repeat right;
  background-size: cover;
  padding: 30px;
  box-shadow: inset 0 0 0 3px var(--tertiary-color);
  
}